# Lower level logging for local development
developer_mode: true

### Tracing
#tracing_enabled: true
#tracing_host: localhost
#tracing_port: 4317
#tracing_insecure: true
#tracing_cert_file: server-cert.pem
#tracing_key_file: server-key.pem

### Matrix

# Private key to be used to login to Matrix Server
matrix_key: PrivateKey-YOUR_PRIVATE_KEY

# Hostname of the Matrix Server
matrix_host: matrix.camino.network

# Local DB file to store Matrix data
matrix_store: supplier-matrix.db

# Timeout in milliseconds to wait for responses on Matrix Server
response_timeout: 10000

### Bot RPC Configuration

# Listen on this port for RPC requests from the partner plugin (or Postman during
# development)
rpc_server_port: 9090
# TLS configuration
rpc_unencrypted: true
rpc_server_cert_file: server-cert.pem
rpc_server_key_file: server-key.pem

### Partner Plugin

# Partner Plugin hostname and port, should be reachable from this machine.
#
# Bot tries to connect to this host and port to relay messages that it receives from
# the distributors through Matrix Server
partner_plugin_host: localhost
partner_plugin_port: 50051
# TLS configuration
partner_plugin_unencrypted: true
# Required if partner_plugin_unencrypted is false
partner_plugin_ca_file: ca-cert.pem

### Supported Request Types for this supplier.
supported_request_types:
  - ActivitySearchRequest
  - ActivityProductListRequest
  - AccommodationProductInfoRequest
  - AccommodationProductListRequest
  - AccommodationSearchRequest
  - GetNetworkFeeRequest
  - GetPartnerConfigurationRequest
  - MintRequest
  - ValidationRequest
  - PingRequest
  - TransportSearchRequest
  - SeatMapRequest
  - SeatMapAvailabilityRequest
  - CountryEntryRequirementsRequest

### C-Chain (EVM)

# Used for signing transactions on the c-chain, can be same as the matrix_key.
# This address needs to have some funds to pay for transaction fees on the C-Chain.
evm_private_key: PrivateKey-YOUR_PRIVATE_KEY

# C-Chain RPC URL
rpc_url: https://columbus.camino.network/ext/bc/C/rpc

### Booking Token

# Booking Token contract address. This address will be used for minting, buying of Booking Tokens
booking_token_address: "0xd4e2D76E656b5060F6f43317E8d89ea81eb5fF8D"

# ABI file that will be used during minting, buying of Booking Tokens
booking_token_abi_file: abi/BookingTokenV0.abi

# Supplier name to be used for registering to the BookingToken smart contract.
# Should be a short name, it will be saved on-chain.
supplier_name: SUPPLIER_NAME

# Default expiration time (in seconds) for BookingToken mints.
#
# The supplier bot creates booking tokens and sets an expiration timestamp on each token.
# Once this time has passed, the token is no longer available for purchase by the distributor.
# The default value is 600 seconds.
buyable_until_default: 600
