# Example config
developer_mode: true
matrix_key: PrivateKey-PRIVATE_KEY
matrix_host: matrix.camino.network
matrix_store: mautrix.provider.db
rpc_server_port: 9090
rpc_unencrypted: true
rpc_url: https://columbus.camino.network/ext/bc/C/rpc

partner_plugin_host: localhost
partner_plugin_unencrypted: true

response_timeout: 6000
supported_request_types:
  - ActivitySearchRequest
  - AccommodationSearchRequest
  - GetNetworkFeeRequest
  - GetPartnerConfigurationRequest
  - PingRequest
  - TransportSearchRequest
  - MintRequest

booking_token_abi_file: abi/BookingTokenV0.abi
supplier_name: SUPPLIER_NAME

evm_private_key: PrivateKey-PRIVATE_KEY # used for signing transactions on the c-chain / can be the same as the matrix_key