# Example config
developer_mode: true
matrix_key: PrivateKey-YOUR_PRIVATE_KEY
matrix_host: matrix.camino.network
matrix_store: mautrix.db
rpc_server_port: 9090
rpc_unencrypted: false
rpc_server_cert_file: server-cert.pem
rpc_server_key_file: server-key.pem
partner_plugin_host: localhost
partner_plugin_port: 3000
partner_plugin_unencrypted: false
partner_plugin_ca_file: ca-cert.pem
response_timeout: 10000 # in milliseconds
supported_request_types:
  - ActivitySearchRequest
  - ActivityProductListRequest
  - AccommodationProductInfoRequest
  - AccommodationProductListRequest
  - AccommodationSearchRequest
  - GetNetworkFeeRequest
  - GetPartnerConfigurationRequest
  - MintRequest
  - ValidationRequest
  - PingRequest
  - TransportSearchRequest
rpc_url: "https://columbus.camino.network/ext/bc/C/rpc"
evm_node_uri: https://kopernikus.demo.camino.network # camino node uri
evm_private_key: PrivateKey-YOUR_PRIVATE_KEY # used for signing transactions on the t-chain / can be the same as the matrix_key
evm_network_id: 1002 # 1002 for devnet, 1001 for testnet, 1000 for mainnet
evm_chain_id: BLOCKCHAIN_ID # blockchain id of the c-chain  On Mainnet, the C-Chain uses 1000 and 500 for these values. On the Columbus Testnet, it uses 1001 and 501 for these values.
evm_await_tx_confirmation_timeout: 6000 # timeout in milliseconds for awaiting transaction confirmation
tracing_enabled: true
tracing_host: localhost
tracing_port: 4317
tracing_insecure: true
tracing_cert_file: server-cert.pem
tracing_key_file: server-key.pem