# Example config
developer_mode: true
matrix_key: PrivateKey-YOUR_PRIVATE_KEY
matrix_host: matrix.camino.network
matrix_store: mautrix.db
rpc_server_port: 9090
rpc_unencrypted: false
rpc_server_cert_file: server-cert.pem
rpc_server_key_file: server-key.pem
partner_plugin_host: localhost
partner_plugin_port: 3000
partner_plugin_unencrypted: false
partner_plugin_ca_file: ca-cert.pem
response_timeout: 3000
supported_request_types:
  - AccommodationSearchRequest
  - PingRequest