# Example config for local development
developer_mode: true

matrix_key: PrivateKey-YOUR_PRIVATE_KEY
matrix_host: matrix.camino.network
matrix_store: mautrix.supplier.db

rpc_server_port: 9090
rpc_unencrypted: true
rpc_server_cert_file: server-cert.pem                    #required if rpc_unencrypted: false
rpc_server_key_file: server-key.pem                      #required if rpc_unencrypted: false
rpc_url: https://columbus.camino.network/ext/bc/C/rpc    #required if supporting MintRequest

partner_plugin_host: localhost
partner_plugin_port: 50051
partner_plugin_unencrypted: true
partner_plugin_ca_file: ca-cert.pem     #required if partner_plugin_unencrypted: false

response_timeout: 10000 # in milliseconds
supported_request_types:
  - ActivitySearchRequest
  - ActivityProductListRequest
  - AccommodationProductInfoRequest
  - AccommodationProductListRequest
  - AccommodationSearchRequest
  - GetNetworkFeeRequest
  - GetPartnerConfigurationRequest
  - MintRequest
  - ValidationRequest
  - PingRequest
  - TransportSearchRequest

supplier_name: SUPPLIER_NAME #required only for Supplier bot if supporting MintRequest

evm_private_key: PrivateKey-YOUR_PRIVATE_KEY # used for signing transactions on the c-chain / can be the same as the matrix_key
evm_await_tx_confirmation_timeout: 6000 # timeout in milliseconds for awaiting transaction confirmation

booking_token_abi_file: abi/BookingTokenV0.abi                        #required if supporting MintRequest
booking_token_address: "0xd4e2D76E656b5060F6f43317E8d89ea81eb5fF8D"   #required if supporting MintRequest

#tracing_enabled: true
#tracing_host: localhost
#tracing_port: 4317
#tracing_insecure: true
#tracing_cert_file: server-cert.pem
#tracing_key_file: server-key.pem